/* Font Face */
@font-face {
    font-family: 'Gendy';
    src: url('/fonts/Glancyr Neue-VF.ttf');
}

/* Root Variables */
:root {
    --button-gradient: linear-gradient(0.35turn, #9a82d3 10%, #7552CA 70%);
    --button-gradient-2: linear-gradient(0.35turn, #dbd2f1 10%, #b39fe0 70%);
    --section-padding: 8rem 0rem 3rem 0rem;
    --border-general: 2px solid #303033;
}

/* Global Styles */
html {
    scroll-behavior: smooth;
}

/* Layout */
.layout {
    display: flex;
    justify-content: space-around;
    font-family: 'Gendy';
    background: url('/images/Background.png') no-repeat center center fixed;
    background-size: cover;
    overflow: auto; /* Make the layout scrollable */
    height: 100vh; /* Ensures the layout covers the full viewport */
}

.layout a {
    color: #fff;
}

.layout a:hover {
    color: #fff;
}

/* Navbar */
.navbar {
    position: fixed;
    display: flex;
    gap: 2rem;
    z-index: 999;
    background-color: #26262773;
    top: 0;
    padding: 3rem 1rem 0rem 1rem;
}

/* Responsive Styles for Navbar */
@media (max-width: 1350px) {
    .navbar {
        display: none !important;
        padding: 0;
    }
}

/* Section Tag */
.section-tag {
    display: flex;
    align-items: center;
    gap: .5rem;
    border: var(--border-general);
    padding: .5rem;
    border-radius: 1rem;
}

.gradient-text {
    font-weight: 700;
    font-variant-numeric: lining-nums;
    background: var(--button-gradient-2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Highlight Button */
.highlight-btn {
    background: var(--button-gradient);
}

/* Responsive Styles */
@media (max-width: 600px) {
    .layout {
        flex-direction: column;
        gap: 1rem;
    }
}

@media (min-width: 1350px) {

    .content {
        width: 70%;
        position: relative;
    }
}

@media (max-width: 1350px) {
    .content {
        width: 100%;
        position: relative;
    }
}

/* Miscellaneous */
.mcWRN {
    background-color: #000 !important;
}
